<p id="notice"><%= notice %></p>

<p>
  <strong>Game name:</strong>
  <%= @game.game_name %>
</p>

<p>
  <strong>Word:</strong>
  <%= @game.word %>
</p>

<p>
  <strong>Lives:</strong>
  <%= @game.lives %>
</p>

<p>
  <strong>Status:</strong>
  <%= @game.status %>
</p>

<p>
  <strong>Result:</strong>
  <%= @game.result %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
